<html lang='en'>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/public/style-5.css' />
    <link rel='icon' href='/public/assets/logo.png' />
  </head>

  <body>
    <nav>
      <div class='left-side'>
        <a href='/'>
          <img src='/public/assets/logo.png' alt='' />
        </a>

        <ol>
          <li style='list-style-type: none'>
            <a href='/' class='home'>Home</a>
          </li>
          <li style='list-style-type: none'>
            <a href='/project' class='project'>Add Project</a>
          </li>
        </ol>
      </div>

      <div class='right-side'>
        <ol>
          <li style='list-style-type: none'>
            <a href='/register' class='home'><b>Register</b></a>
          </li>
          <li style='list-style-type: none'>
            <a href='/login'>Login</a>
          </li>
        </ol>
        <a href='/contact' class='contact'> Contact Me </a>
      </div>
    </nav>

    <section class='container-1'>
      <div class='form-container'>
        <form action='/register' method='POST'>
          <h4>REGISTER YOUR ACCOUNT</h4>

          <div class='project-input'>
            <label for='name'>Name</label>
            <input type='text' id='name' name='name' required />
          </div>

          <div class='project-input'>
            <label for='email'>Email</label>
            <input type='email' id='email' name='email' required />
          </div>

          <div class='project-input'>
            <label for='password'>Password</label>
            <input type='password' id='password' name='password' required />
          </div>

          <div class='btn-submit'>
            <button>submit</button>
          </div>
        </form>
      </div>
    </section>

  </body>
</html>